@media screen and(min-width: 1921px) {
}

@media screen and(max-width: 1139px) {
  .about {
    &__inner {
      display: flex;
      flex-wrap: wrap;
    }
    &__item {
      margin-bottom: 50px;
    }
    &__absolute {
      position: relative;
      top: 0;
      left: 0;
      justify-content: end;
    }
    &__absolute-img {
      border: none;
      order: 2;
    }
    &__absolute-text {
      margin-left: 0;
      margin-right: 80px;
    }
  }
  .communication {
    &__wrapper {
      justify-content: space-evenly;
    }
  }
}

@media screen and(max-width: 1079px) {
  .answers {
    &__wrapper {
      flex-direction: column;
      align-items: center;
    }
    &__accordion {
      margin-top: 35px;
      max-width: 445px;
      min-height: 780px;
    }
  }
}

@media screen and(max-width: 899px) {
  .hotels {
    &__subtitle {
      margin-bottom: 40px;
    }
  }
  .suite {
    &__item {
      flex-direction: column;
      justify-content: center;
    }
    &__hidden-img {
      display: block;
    }
    &__image {
      display: none;
    }
    &__info {
      margin-top: 40px;
      text-align: center;
      &:nth-child(1n) {
        order: 2;
      }
      &:last-child {
        margin-right: 0;
        margin-left: 0;
      }
      &:first-child {
        margin-left: 0;
        margin-right: 0;
      }
    }
    &__price {
      justify-content: center;
    }
  }
  .information {
    &__wrapper {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    &__logo,
    &__subscription {
      margin-bottom: 50px;
    }
  }
}

@media screen and(max-width: 767px) {
  .header {
    grid-template-columns: 1fr 2fr;
  }
  .advantage {
    max-width: 318px;
    display: block;
    &__item {
      align-items: flex-start;
    }
    &__item:first-child {
      margin-bottom: 25px;
    }
    &__num {
      font-size: 40px;
    }
  }
}

@media screen and(max-width: 689px) {
  .about {
    &__item {
      flex-wrap: wrap;
      justify-content: center;
    }
    &__info {
      margin: 50px auto;
    }
    &__absolute {
      flex-wrap: wrap;
      justify-content: center;
      &-img {
        order: 1;
      }
      &-text {
        order: 2;
        margin: 50px auto 0;
      }
    }
  }
  .route {
    position: relative;
    padding-top: 0;
    &__container {
      overflow: hidden;
      padding-top: 125px;
    }
    &__wrapper {
      flex-direction: column;
      margin: 0 auto;
    }
    &__map {
      img {
        max-width: 400px;
        right: 50%;
        transform: translateX(75%);
      }
    }

    &__menu {
      order: 1;
      display: flex;
      position: absolute;
      top: 680px;
    }
    &__inner {
      order: 2;
      padding: 0;
    }
  }
  .tours {
    &__info {
      margin-bottom: 460px;
    }
    &__title {
      text-align: center;
    }
    &__info {
      justify-content: center;
    }
  }
  .contacts {
    flex-direction: column;
    align-items: center;
    &__item {
      max-width: 320px;
      &:not(:last-child) {
        margin-bottom: 50px;
      }
    }
  }
}

@media screen and(max-width: 599px) {
  .tour-slider {
    padding: 0;
    .slick-slide {
      margin: 0;
    }
  }
  .review-slider {
    max-width: 100%;
    padding: 0;
    margin: 0 auto 65px;
    .slick-prev {
      left: 0;
      top: unset;
      bottom: -150px;
    }
    .slick-next {
      right: 0;
      top: unset;
      bottom: -150px;
    }
    .slick-track {
      margin-left: -3px;
    }
  }
  .reserve {
    &__wrapper {
      padding-left: 15px;
      padding-right: 15px;
    }
  }
}

@media screen and(max-width: 479px) {
  .title {
    font-size: 30px;
  }
  .main {
    &__wrapper {
      margin-bottom: 55px;
    }
    &__subtitle {
      max-width: 250px;
      margin: 0 auto;
    }
  }
  .header {
    display: flex;
    justify-content: space-between;
    z-index: 5;
    &__menu {
      display: none;
    }
    &_fixed + .main__banner {
      padding-top: 293px;
    }
  }
  .menu {
    &__burger {
      display: block;
    }
    &__link {
      width: 100%;
    }
  }
  .about {
    padding-top: 115px;
    &::after {
      top: 90%;
    }
    &__img {
      img {
        width: 100%;
      }
    }
    &__absolute-img {
      img {
        width: 100%;
      }
    }
  }
  .our-team {
    margin-bottom: 65px;
    max-width: 100%;
    padding: 0;
    .slick-prev {
      left: 0;
      top: unset;
      bottom: -150px;
    }
    .slick-next {
      right: 0;
      top: unset;
      bottom: -150px;
    }
    .slick-slide {
      margin: 0 5px;
    }
    .slick-list {
      padding: 0;
    }
  }
  .route {
    padding-bottom: 55px;
    &__title {
      margin-bottom: 50px;
    }
  }
  .tours {
    &__title {
      font-size: 20px;
    }
    &__reserve {
      justify-content: space-between;
    }
    &__btn {
      margin: 0;
      padding-left: 30px;
      padding-right: 30px;
    }
  }
  .tour-slider {
    &__background {
      align-items: center;
    }
    &__item {
      text-align: center;
    }
    &__info {
      margin-bottom: 40px;
    }
    &__info-item {
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin: 0 10px;
      svg {
        margin: 0 0 5px;
      }
    }
  }
  .review {
    &__title {
      margin-bottom: 60px;
    }
  }
  .review-slider {
    &__item {
      min-height: 520px;
    }
    .slick-slide {
      margin: 0 5px;
    }
    &__item {
      padding: 30px;
      display: grid !important;
      grid-template-rows: 214px 1fr 42px;
    }
    &__main-info {
      flex-direction: column;
      text-align: center;
    }
    &__photo {
      margin: 0 0 25px;
    }
    &__bottom-info {
      flex-direction: column;
      align-items: center;
      justify-content: flex-end;
    }
    &__more {
      margin: 0 auto;
    }
    &__rating {
      margin-bottom: 5px;
    }
    &__info {
      height: auto;
    }
  }
  .collage {
    padding: 125px 0 15px;
    &__title {
      margin-bottom: 60px;
    }
  }
  .hotels {
    padding-bottom: 30px;
  }
  .answers {
    padding-top: 125px;
  }
  .accordion {
    &__title {
      font-size: 14px;
    }
  }
  .suite {
    &__text {
      margin-bottom: 50px;
    }
    &__item {
      &:nth-child(n + 2) {
        display: none;
        animation: suiteShow 1s;
      }
    }
  }
  .answers {
    &__title {
      margin-bottom: 60px;

      text-align: left;
    }
  }
  .communication {
    &__title {
      text-align: left;
    }
    &__wrapper {
      align-items: flex-start;
      margin-top: 55px;
      margin-bottom: 55px;
    }
  }
  .adresses {
    &__btns {
      margin-bottom: 30px;
    }
  }
  .map-window {
    &__title {
      font-size: 16px;
    }
    &__hours,
    &__adress,
    &__weekends {
      font-size: 10px;
    }
  }
  .reserve {
    margin-bottom: 0;
    &__subtitle {
      margin-bottom: 60px;
    }
  }
  .form {
    &__text {
      font-size: 10px;
    }
  }
  .popup {
    &__wrapper {
      padding: 60px 25px;
    }
  }
}

@media screen and(max-width: 374px) {
  .main {
    &__btn {
      width: 100%;
    }
  }
  .about {
    &__title {
      text-align: left;
    }
    &__img {
      display: flex;
      align-items: center;
      max-height: 290px;
      overflow: hidden;
    }
  }
  .team {
    &__subtitle {
      max-width: 280px;
    }
  }
  .route {
    &__title {
      text-align: left;
    }
  }
  .review-slider {
    &__item {
      min-height: 596px;
    }
  }
  .suite {
    &__btn {
      width: 100%;
    }
  }
  .answers {
    &__accordion {
      min-height: 838px;
    }
    &__image {
      display: flex;
      align-items: center;
      max-height: 290px;
      overflow: hidden;
    }
  }
}
