@media screen and(min-width: 1921px) {
}

// 1024-1199
@media screen and(max-width: 1199px) {
}

@media screen and(max-width: 1159px) {
  .our-team {
    max-width: 70%;
  }
  .tour-slider {
    max-width: 60%;
  }
  .review-slider {
    max-width: 60%;
  }
}

@media screen and(max-width: 1139px) {
  .about {
    &__inner {
      display: flex;
      flex-wrap: wrap;
    }
    &__item {
      margin-bottom: 50px;
    }
    &__absolute {
      position: relative;
      top: 0;
      left: 0;
      justify-content: end;
    }
    &__absolute-img {
      border: none;
      order: 2;
    }
    &__absolute-text {
      margin-left: 0;
      margin-right: 80px;
    }
  }
  .communication {
    &__wrapper {
      justify-content: space-evenly;
    }
  }
}

// 768-1023
@media screen and(max-width: 1023px) {
}

@media screen and(max-width: 899px) {
  .suite {
    &__item {
      flex-direction: column;
    }
    &__info {
      margin-top: 40px;
      &:nth-child(1n) {
        order: 2;
      }
    }
  }
  .information {
    &__wrapper {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    &__logo,
    &__subscription {
      margin-bottom: 50px;
    }
  }
}

@media screen and(max-width: 819px) {
  .our-team {
    max-width: 50%;
  }
  .answers {
    &__wrapper {
      flex-direction: column;
      align-items: center;
    }
    &__accordion {
      // margin-top: 25px;
      max-width: 445px;
    }
  }
}

// 580-767
@media screen and(max-width: 767px) {
  .header {
    grid-template-columns: 1fr 1fr;
  }
  .advantage {
    flex-wrap: wrap;
    justify-content: center;
  }
  .tour-slider {
    max-width: 70%;
  }
  .review-slider {
    max-width: 70%;
  }
  .suite {
    &__text {
      // margin: 40px 0;
    }
  }
}

@media screen and(max-width: 689px) {
  .about {
    &__item {
      flex-wrap: wrap;
      justify-content: center;
    }
    &__info {
      margin: 50px auto;
    }
    &__absolute {
      flex-wrap: wrap;
      justify-content: center;
      &-img {
        order: 1;
      }
      &-text {
        order: 2;
        margin: 50px auto 0;
      }
    }
  }
  .route {
    &__wrapper {
      flex-direction: column;
      margin: 0 auto;
    }
    &__map {
      left: unset;
      // right: calc(50% - 400px);
      // width: 200px;
      right: -60px;
      width: 425px;
      img {
        width: 100%;
      }
    }
    &__menu {
      order: 1;
      display: flex;
    }
    &__inner {
      order: 2;
      padding: 0;
    }
    &__menu {
      position: absolute;
      top: 450px;
    }
  }
  .tours {
    &__info {
      margin-bottom: 460px;
    }
  }

  .contacts {
    flex-direction: column;
    align-items: center;
    &__item {
      max-width: 320px;
      &:not(:last-child) {
        margin-bottom: 50px;
      }
    }
  }
}

// 480-579
@media screen and(max-width: 599px) {
  .our-team {
    max-width: 100%;
    .slick-prev {
      left: 15px;
      top: 107%;
    }
    .slick-next {
      right: 15px;
      top: 107%;
    }
  }
  .review {
    &__wrapper {
      max-width: 100%;
    }

    .slick-prev {
      left: 15px;
      top: 115%;
    }
    .slick-next {
      right: 15px;
      top: 115%;
    }
  }
}

@media screen and(max-width: 579px) {
}

// 320-479
@media screen and(max-width: 479px) {
}
