html,
body {
  height: 100%;
}

body {
  font-family: 'Montserrat-Regular', sans-serif;
  font-size: 13px;
  color: #242424;
  overflow-x: hidden;
}

.main {
  flex: 1 0 auto;
}
.footer {
  flex: 0 0 auto;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
  padding: 0 15px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 400;
}
