@import 'vars';
@import 'fonts';
@import 'reset';
@import 'libs';
@import 'global';

.main {
  background-image: url(../images/main-bg.png);
  background-size: cover;
  background-position: top center;
  background-repeat: no-repeat;
  height: 870px;
  color: #fff;
  &__header {
    padding: 25px 0;
  }
  &__banner {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  &__wrapper {
    text-align: center;
    margin: 200px 0 137px 0;
  }
  &__title {
    font-size: 100px;
    font-family: 'PlayfairDisplay-Bold', serif;
    margin: 45px 0;
    font-weight: bold;
    letter-spacing: 20px;
  }
  &__btn {
    width: 200px;
  }
}

.btn {
  font-size: 14px;
  font-weight: bold;
  font-family: 'Montserrat'; //
  color: rgb(255, 255, 255);
  background-color: #689bb1;
  padding: 23px 0;
  border-radius: 40px;
  border: 0;
  outline: 0;
}

.header {
  display: grid;
  grid-template-columns: 120px 410px 120px;
  align-items: center;
  justify-content: space-between;
}

.logo {
  display: inline;
}

.menu {
  &__list {
    display: flex;
    justify-content: space-between;
  }
  &__link {
    color: #fff;
  }
}

.advantage {
  max-width: 790px;
  display: flex;
  // flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 auto;
  &__item {
    display: flex;
    align-items: center;
  }
  &__num {
    font-size: 73px;
  }
  &__text {
    margin-left: 15px;
    font-size: 12px;
    line-height: 1.583;
    width: 260px;
    text-align: left;
  }
}

// ABOUT

.title {
  @extend %main-titles;
}

.about {
  padding: 150px 0;
  // background-image: url(../images/mountain_about.png);
  // background-position: center 400px;
  // background-repeat: no-repeat;
  &__item {
    display: flex;
    position: relative;
    margin-top: 80px;
  }
  &__info {
    width: 470px;
    margin-top: 85px;
    margin-left: 80px;
  }
  &__subtitle {
    font-size: 25px;
    font-family: 'PlayfairDisplay-Regular', serif;
    color: rgb(42, 42, 42);
  }
  &__text {
    margin: 40px 0;
  }
  &__date {
    font-family: 'Montserrat-Italic', sans-serif;
  }
  &__absolute {
    position: absolute;
    display: flex;
    top: 335px;
    left: 230px;
  }
  &__absolute-img {
    border-top: 15px solid #fff;
    border-left: 15px solid #fff;
  }
  &__absolute-text {
    width: 425px;
    margin-left: 80px;
    margin-top: 70px;
  }
}

// TEAM

.subtitle {
  @extend %main-subtitles;
}

.team {
  padding-bottom: 70px;
  position: relative;
  &__subtitle {
    margin-top: 60px;
    margin-bottom: 80px;
  }
}

.bg {
  background-image: url(../images/mountain_about.png);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 933px;
  width: 100%;
  position: absolute;
  top: -390px;
  z-index: -1;
}

.our-team {
  display: flex;
  justify-content: space-between;
  width: 920px;
  margin: 0 auto;
  &__item {
    width: 285px;
    position: relative;
    overflow: hidden;
    // box-shadow: 0px 0px 14px 5px rgba(0, 0, 0, 0.3);
  }
  &__image {
    width: 285px;
  }
  &__img {
    width: 100%;
  }
  &__info {
    position: absolute;
    transform: translate(0, -90px);
    background-color: #fff;
    width: 285px;
    transition: all 0.7s;
    .our-team__arrow-down {
      display: none;
    }
  }
  &__info-show {
    padding: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #e1e1e1;
  }
  &__name {
    font-size: 25px;
    line-height: 25px;
    font-family: 'PlayfairDisplay-Regular', serif;
  }

  &__info-hide {
    padding: 30px;
    height: 190px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  &__info-hide-text {
    padding: 10px 0;
  }
  &__info-hide-bold {
    font-family: 'Montserrat-Bold', sans-serif;
  }
  .slick-list {
  }
  .slick-slide {
    width: 285px;
    margin: 0 17px;
  }
  .slick-prev {
    width: 65px;
    height: 65px;
    left: -95px;
    &:before {
      content: url(../images/arrow-left.png);
    }
  }
  .slick-next {
    width: 65px;
    height: 65px;
    right: -95px;
    &:before {
      content: url(../images/arrow-right.png);
    }
  }
}
