@import 'vars';
@import 'fonts';
@import 'reset';
@import 'libs';
@import 'global';

body {
  background-image: url(../images/stars.png);
  background-size: cover;
  background-position: top center;
  background-repeat: no-repeat;
  height: 100%;
}

.main {
  background-image: url(../images/main-bg.png);
  background-size: cover;
  background-position: top center;
  background-repeat: no-repeat;
  height: 870px;
  color: #fff;
  &__header {
    padding: 25px 0;
  }
  &__banner {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  &__wrapper {
    text-align: center;
    margin: 200px 0 137px 0;
  }
  &__title {
    font-size: 100px;
    font-family: 'PlayfairDisplay-Bold', serif;
    margin: 45px 0;
    font-weight: bold;
    letter-spacing: 20px;
  }
  &__btn {
    width: 200px;
  }
}

.btn {
  font-size: 14px;
  font-weight: bold;
  font-family: 'Montserrat'; //
  color: rgb(255, 255, 255);
  background-color: #689bb1;
  padding: 23px 0;
  border-radius: 40px;
  border: 0;
  outline: 0;
}

.header {
  display: grid;
  grid-template-columns: 120px 410px 120px;
  align-items: center;
  justify-content: space-between;
}

.logo {
  display: inline;
}

.menu {
  &__list {
    display: flex;
    justify-content: space-between;
  }
  &__link {
    color: #fff;
  }
}

.advantage {
  max-width: 790px;
  display: flex;
  // flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 auto;
  &__item {
    display: flex;
    align-items: center;
  }
  &__num {
    font-size: 73px;
  }
  &__text {
    margin-left: 15px;
    font-size: 12px;
    line-height: 1.583;
    width: 260px;
    text-align: left;
  }
}

// ABOUT

.title {
  @extend %main-titles;
}

// .bg {
//   background-image: url(../images/mountain_about.png);
//   background-position: center center;
//   background-repeat: no-repeat;
//   background-size: cover;
//   height: 933px;
//   width: 100%;
//   position: absolute;
//   top: 100%;
//   z-index: -1;
// }

.about {
  position: relative;
  padding: 150px 0;
  // background-image: url(../images/mountain_about.png);
  // background-position: center 400px;
  // background-repeat: no-repeat;
  // background-size: cover;
  // &::after {
  //   content: url(../images/mountain_about.png);
  //   position: absolute;
  //   top: 80%;
  //   width: 100%;
  // }

  &__item {
    display: flex;
    position: relative;
    margin-top: 80px;
  }
  &__info {
    width: 470px;
    margin-top: 85px;
    margin-left: 80px;
  }
  &__subtitle {
    font-size: 25px;
    font-family: 'PlayfairDisplay-Regular', serif;
    color: rgb(42, 42, 42);
  }
  &__text {
    margin: 40px 0;
  }
  &__date {
    font-family: 'Montserrat-Italic', sans-serif;
  }
  &__absolute {
    position: absolute;
    display: flex;
    top: 335px;
    left: 230px;
  }
  &__absolute-img {
    border-top: 15px solid #fff;
    border-left: 15px solid #fff;
    max-width: 385px;
    max-height: 305px;
  }
  &__absolute-text {
    width: 425px;
    margin-left: 80px;
    margin-top: 70px;
  }
}

// TEAM

.subtitle {
  @extend %main-subtitles;
}

.team {
  padding-bottom: 70px;
  position: relative;
  &__subtitle {
    margin-top: 60px;
    margin-bottom: 80px;
  }
  // &__pages {
  //   font-size: 28px;
  //   font-family: 'PlayfairDisplay-Regular', serif;
  //   text-align: center;
  // }
  // &__pages-span {
  //   font-size: 23px;
  //   color: #818181;
  // }
  &__pages {
    font-family: 'PlayfairDisplay-Regular', serif;
    text-align: center;
    font-size: 23px;
    color: #818181;
  }
  &__pages-span {
    color: rgb(36, 36, 36);
    font-size: 28px;
  }
}

.our-team {
  display: flex;
  justify-content: space-between;
  width: 920px;
  margin: 0 auto;
  &__item {
    width: 285px;
    position: relative;
    overflow: hidden;
    // box-shadow: 0px 0px 14px 5px rgba(0, 0, 0, 0.3);
  }
  &__image {
    width: 285px;
  }
  &__img {
    width: 100%;
  }
  &__info {
    position: absolute;
    transform: translate(0, -90px);
    background-color: #fff;
    width: 285px;
    transition: all 0.7s;
    .our-team__arrow-down {
      display: none;
    }
  }
  &__info-show {
    padding: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #e1e1e1;
  }
  &__name {
    font-size: 25px;
    line-height: 25px;
    font-family: 'PlayfairDisplay-Regular', serif;
  }

  &__info-hide {
    padding: 30px;
    height: 190px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  &__info-hide-text {
    padding: 10px 0;
  }
  &__info-hide-bold {
    font-family: 'Montserrat-Bold', sans-serif;
  }
  .slick-list {
  }
  .slick-slide {
    width: 285px;
    margin: 0 17px;
  }
  .slick-prev {
    width: 65px;
    height: 65px;
    left: -95px;
    &:before {
      content: url(../images/arrow-left.png);
    }
  }
  .slick-next {
    width: 65px;
    height: 65px;
    right: -95px;
    &:before {
      content: url(../images/arrow-right.png);
    }
  }
}

// route
.route {
  padding: 100px 0 240px;
  &__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &__title {
    margin-bottom: 70px;
  }
  &__inner::before {
    content: url(../images/route_map.png);
    position: absolute;
    top: -200px;
    left: -80%;
    z-index: -1;
  }
  // &__map {
  //   content: url(../images/route_map.png);
  //   position: absolute;
  //   top: -100px;
  //   left: 35px;
  //   z-index: -1;
  // }
  &__inner {
    margin: 0 auto;
    padding-left: 50px;
    position: relative;
  }
  &__menu {
    // display: flex;
  }
  &__menu-item {
    display: block;
    background-color: transparent;
    // height: 30px;
    padding: 10px;
    margin: 10px 0;
    border: 0;
    font-size: 10px;
    color: rgb(171, 171, 171);
    &_active {
      font-size: 16px;
      color: rgb(36, 36, 36);
    }
  }
}

.tours {
  // overflow: hidden;
  height: 562px;
  max-width: 428px;
  &__item {
    height: 562px;
  }
  &__title {
    font-size: 25px;
    font-family: 'Playfair Display';
  }
  &__info {
    display: flex;
  }
  &__info-item {
    display: flex;
    align-items: center;
    margin: 25px 0 75px;
    svg {
      margin-right: 10px;
    }
  }
  &__info-item:first-child {
    margin-right: 40px;
  }
  &__day {
    font-size: 16px;
    font-family: 'Montserrat-Bold', sans-serif;
    color: rgb(89, 137, 157);
  }
  &__about {
    line-height: 1.462;
    margin: 35px 0 80px;
  }
  &__text {
    margin-bottom: 25px;
  }
  &__reserve {
    display: flex;
    align-items: center;
  }
  &__price {
    display: flex;
    align-items: center;
    svg {
      margin-right: 10px;
    }
  }
  &__btn {
    margin-left: 60px;
    padding-left: 50px;
    padding-right: 50px;
  }
}
